:root.theme-dark {
  /*Для принудительного включения, 
  чтобы кнопка «Тёмная» работала поверх «Авто-светлой».
  */
  --font-main-title-color: #db00ff;
  --menu-color: #ff0070;
  --accent-color: #ff0070;
  --shadow-color: var(--accent-color);
  --section-text-color: var(--accent-color);
  --card-text-color: #f1b2ce;
  --hover-color: rgba(255, 0, 112, 0.4);
  --bg-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --recording-flag: flex;
}
